<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/customer/images/logo.jpg}">
	<title th:text="${title}">Trang khach hang</title>
	
	<!-- CSS -->
	<th:block th:insert="~{customer/layout/css :: css}"></th:block>
    
</head>


<body>
    <div class="wrapper">
    	<!-- Header -->
        <div th:replace="~{customer/layout/header :: header}"></div>
        <main class="main">
            <div class="main__breadcrumb">
                <div class="container">
                    <div class="bread-crumb">
                        <span><a th:href="@{/index}">Trang chủ</a></span>
                        <span><a href="./danhmuc.html">Danh mục sản phẩm</a></span>
                        <span><a href="./sanpham.html">Sản phẩm</a></span>
                    </div>
                </div>
            </div>
            <div class="main__section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 none block">
                            <div class="section__sidebar-widget">
                                <div class="widget__inner">
                                    <div class="widget__list">
                                        <h3 class="widget__title">Search</h3>
                                        <div class="widget__search-box">
                                            <input type="text" placeholder="Tìm kiếm..." class="widget__input">
                                            <button class="search-icon">
                                                <i class='bx bx-search'></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="widget__list">
                                        <h3 class="widget__title">Danh mục</h3>
                                        <div class="widget__list-body">
                                            <ul class="sidebar-list">
                                                <li><a href="#">Tất cả sảm phẩm</a></li>
                                                <li><a href="#">Chó Alaska Malamute (29)</a></li>
                                                <li><a href="#">Chó Corgi (18)</a></li>
                                                <li><a href="#">Chó Poodle (20)</a></li>
                                                <li><a href="#">Mèo Anh (Dài + Ngắn) (3)</a></li>
                                                <li><a href="#">Sản phẩm mới (8)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget__list">
                                        <h3 class="widget__title">Tags</h3>
                                        <div class="widget__list-body">
                                            <ul class="tags">
                                                <li><a href="#">Dogs</a></li>
                                                <li><a href="#">Cats</a></li>
                                                <li><a href="#">Alaska</a></li>
                                                <li><a href="#">Thức ăn</a></li>
                                                <li><a href="#">Hubby</a></li>
                                                <li><a href="#">Animals</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="section__product-detail">
                                <div class="row">
                                    <div class="col-12 col-lg-5">
                                        <div class="product__detail-img">
                                            <div class="swiper myProduct" >
                                                <div class="swiper-wrapper" th:if="${productImages.size() > 0}">
                                                    <div class="swiper-slide"  th:each="image : ${productImages}">
                                                        <img th:src="${image.path != null} ?
                                                        	  		 @{/UploadFiles/{p}(p=${image.path})} : 
                                                        	 		 @{/customer/img/no-image.png}" alt=""
                                                            class="swiper__product-img">                                                        
                                                    </div>
                                                </div>
                                                <div class="swiper-button-next"></div>
                                                <div class="swiper-button-prev"></div>
                                                <div class="swiper-pagination"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7">
                                        <div class="product__detail-summery">
                                            <div class="product__header mb-10">
                                                <h2 class="product__header-title" th:text="${product.name}"></h2>
                                            </div>
                                            <div class="product__price mb-10">
                                                <span class="curr__price" th:text="${#numbers.formatDecimal(
                                                	product.salePrice > 0 ? product.salePrice : product.price, 0, 'POINT', 0, 'POINT')} + 'đ'"></span>
                                                <span class="old__price" th:text="${#numbers.formatDecimal(
                                                	product.price, 0, 'POINT', 0, 'POINT')} + 'đ'"></span>
                                            </div>
                                            <div class="product__code mb-10">
                                                <span>Mã đơn hàng: ABC123</span>
                                            </div>
                                            <div class="product__inventroy mb-10">
                                                <span class="inventroy-title">Tình trạng: </span>
                                                <span class="inventory__varient">Còn hàng</span>
                                            </div>
                                            <div class="product__quantity mb-10">
                                                <span>
                                                    Số lượng:
                                                </span>
                                                <div class="quantity__plus mb-10">
                                                    <input type="number" name="quantity" id="quantity" min="1" th:value="1">
                                                </div>
                                            </div>
                                            <div class="product__cart-button">
                                                <div class="add__to__cart">
                                                    <a href="javascript:void(0)" 
                                                    	th:data-id="${product.id}"
                                                    	th:data-name="${product.name}"
                                                    	th:onclick="addToCart(this.dataset.id, this.dataset.name)"
                                                    	class="cart-btn-icon">
												<i class='bx bx-cart'></i>
                                                    	
                                                    	</a>
                                                </div>
                                                <a href="#" class="add-cart-heart">
                                                    <i class='bx bx-heart'></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- chi tiết sản phẩm -->
                            <div class="section__product-description">
                                <h2 class="detail__heading">
                                    Chi tiết sản phẩm
                                </h2>
                                <div class="detail__text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nulla
                                        voluptatum dolor, quidem quaerat saepe in. Obcaecati voluptatem ea sapiente,
                                        neque soluta incidunt harum a facilis possimus fuga distinctio voluptates. Lorem
                                        ipsum dolor sit amet consectetur, adipisicing elit. Maiores esse sequi at eius
                                        cumque. Temporibus architecto sunt aperiam corporis corrupti repellendus
                                        doloremque itaque recusandae facere provident voluptate dolore, nulla mollitia?
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, fugit
                                        adipisci. Quasi laboriosam sapiente, explicabo repellat, nemo ex tempore
                                        deserunt a accusamus quas deleniti debitis obcaecati, fugiat reiciendis mollitia
                                        architecto? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eos
                                        magni eius eligendi distinctio? Debitis porro veritatis perferendis officia
                                        iusto nostrum quisquam ducimus, consequuntur accusantium doloribus quibusdam
                                        voluptatum recusandae magnam?
                                    </p>
                                </div>
                            </div>

                            <!-- sản phẩm tương tự -->
							<div th:replace="~{customer/layout/relatedproduct :: relatedproduct}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- Footer -->
        <div th:replace="~{customer/layout/footer :: footer}"></div>
        
        <div class="scroll__top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
        <!-- Mobile menu -->
		<div th:replace="~{customer/layout/mobilemenu :: mobilemenu}"></div>
    </div>
    
    <!-- JS -->
	<div th:replace="~{customer/layout/js :: js}"></div>
	
	<script>
		function addToCart(productId, name) {
		    //const qty = document.getElementById("quantity").value;
			const quantity = document.getElementById("quantity").value;
		    fetch('/cart/add?productId=' + productId + '&addQuantity=' + quantity + 
		    		'&name=' + encodeURIComponent(name), {
		        method: 'POST'
		    })
		    .then(res => res.json())
		    .then(data => {
		        if (data.success) {
		            // Cập nhật số lượng giỏ hàng ở header
		            document.getElementById("totalProducts").innerText = 
		            											data.totalProducts;
		
		            // Thêm thông báo
		            alert("Đã thêm " + quantity + " '" + name + "' vào giỏ hàng!");
		        }
		    });
		}
	</script>
	
</body>

</html>