<div xmlns:th="http://www.thymeleaf.org" th:fragment="relatedproduct">
	<div class="related__products">
		<div class="main__products-title">
			<p>Sản phẩm tương tự</p>
		</div>
		<div class="row">
			<div class="swiper myRelated">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/3.jpg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/7.jpg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/4.jpeg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/2.jpg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/8.jpeg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/6.jpg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/4.jpg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/8.jpg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product">
							<div class="thumb">
								<a href="./sanpham.html" class="image"> <img
									src="./img/products/5.jpeg" class="fit-img zoom-img">
								</a> <span class="badges"> <span class="sale">-20%</span>
								</span>
							</div>
							<div class="content">
								<a href="./sanpham.html" class="content-link">
									<h5 class="title">Chó mèo</h5>
								</a> <span class="price"> <span class="old">20.000.000đ</span>
									<span class="new">15.000.000đ</span>
								</span> <span class="symbol"> <a href="#"><i
										class='bx bx-heart'></i></a> <a href="#"><i class='bx bx-cart'></i></a>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-button-next next"></div>
				<div class="swiper-button-prev prev"></div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>