<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="sale">
</head>
<div class="main__products-sale">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <a href="./danhmuc.html" class="banner-sale">
                                <img src="./img/oder-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-12 col-lg-6 block none">
                            <a href="./danhmuc.html" class="banner-sale">
                                <img src="./img/oder-2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </html>